## 1-Exploring data with Pandas - Part 1
Pandas is an exceptional tool for working with tabular data. Here we review the basics of what a dataframe is, how we get data into a dataframe, and how we can explore those data when in a dataframe format.
### Topics
1. [Basic form of a dataframe](#1.-The-DataFrame)
* [Loading data into a dataframe](#2.-Loading-data-into-a-dataframe)
* [Viewing and inspecting data properties](#3.-Viewing-and-inspecting-data-properties)
* [Selecting columns](#4.-Selecting-columns)
* [Descriptive statistics](#5.-Descriptive-Statistics)
* [Some basic plots](#6.-Some-Basic-Plots)

In [1]:
#Import the pandas package, conventially imported as "pd"
import pandas as pd

## 1. The DataFrame
We'll begin by exploring the key elements of the DataFrame object. Some notions are self evident, i.e., data are stored in rows and columns, much like a spreadsheet. Others are more nuanced: implicit and explicit indices, tables vs. views, and some others.

Let's begin examining the components of DataFrames by examining two ways they can be created.

#### DataFrame as a list of lists
First, a DataFrame can be considered as a list of lists. Below we see an example where we have 4 sub-lists, each containing 3 items (e.g. the first list [`'Joe'`,`22`,& `True`]). Each of these 4 sub-lists comprises a _row_ in the resulting DataFrame, and each item in a given list becomes a _column_.

In [2]:
#Creating a simple data frame as a list of lists
df = pd.DataFrame([['Joe',22,True],
                   ['Bob',25,False],
                   ['Sue',28,False],
                   ['Ken',24,True]],
                  index = [10,20,40,30],
                  columns = ['Name','Age','IsStudent']
                 )
#Reveal the type of object created
type(df)

pandas.core.frame.DataFrame

In [3]:
#Display the resulting data frame
df

   Name  Age  IsStudent
10  Joe   22       True
20  Bob   25      False
40  Sue   28      False
30  Ken   24       True

A few key points here: 
* First is that each of the sub-lists has the same number of elements (3) and the same data types as the other sub-lists. Otherwise we'd end up with missing data or "coerced" data types.
* Second is that we also explicitly specify and **index** for the rows (`index = [1,2,3,4]`). The index allows us to identify a specific row.
* Likewise, we explicitly set column names with `columns = ['Name','Age','IsStudent']`, and yes, these allow us to indentify specific columns in our DataFrame.

#### Data frame as a collection of dictionaries
Another way to build (and think of) a DataFrame as a set of dictionaries where each dictionary is a column of data, with the dictionary's key being the column name and it's value being a list of values:

In [4]:
#Creating a data frame as dictionaries of lists
df = pd.DataFrame({"Name":['Joe','Bob','Sue','Ken'],
                   "Age":[22,25,28,24],
                   "IsStudent":[True,False,False,True]},
                  index = [10,20,40,30]
                 )
df

   Name  Age  IsStudent
10  Joe   22       True
20  Bob   25      False
40  Sue   28      False
30  Ken   24       True

### Meh, so what...
What does this reveal? List of lists vs set of dictionaries? Well, it explains how you can extract elements from the DataFrame. **Thinking of a DataFrame as a list of lists**, getting the value of the 2nd column, 3rd row is equivalent of getting data from the 2nd item in the 3rd list.  

We can get that value using the DataFrame's `iloc` function (short for intrinsic location), passing the row and column of the location we want.

In [5]:
#Get the 2nd item from the 3rd row; recalling Python is zero-based
df.iloc[2,1]

28

And if we hop over to **thinking a DataFrame as a set of dictionaries**, we can target a specific value by specifying the index of the value (row) from the dictionary column) we want. The row however, is referred to by the index *we* assigned, not it's implicit index generated by the order in which it was entered.

In [6]:
#Get the value in the 'Name' column corresponding to the row with an index of '20'
df['Name'][20]

'Bob'

We can also to quick math on our data. If we wanted to calculate the age of our students in days:

In [7]:
df['Age_days'] = df['Age'] * 365
df

   Name  Age  IsStudent  Age_days
10  Joe   22       True      8030
20  Bob   25      False      9125
40  Sue   28      False     10220
30  Ken   24       True      8760

_We'll return to how we extract data from a DataFrame, but for now just soak in the fact that values in a DataFrame can be referenced by their implicit location (i.e. their row, column coordinates) and by their explicit column name and row index._

---
## 2. Loading data into a dataframe
More than likely we'll be reading in data vs entering it manually, so let's review how files are read into a Pandas Dataframe. Pandas can read many other formats: Excel files, HTML tables, JSON, etc. But let's concentrate on the simplest one - the csv file - and discuss the key parameters involved. 

In the Data folder within our workspace is a file named `surveys.csv` which holds the data we'll use. If you're curious, this dataset is part of the Portal Teaching data, a subset of the data from Ernst et al [Long-term monitoring and experimental manipulation of a Chihuahuan Desert ecosystem near Portal, Arizona, USA](http://www.esapubs.org/archive/ecol/E090/118/default.htm).

The dataset is stored as a `.csv` file: each row holds information for a single animal, and the columns represent:

| Column | Description |
| :--- | :--- |
|record_id |	Unique id for the observation |
|month| 	month of observation |
|day |	day of observation |
|year |	year of observation |
|plot_id |	ID of a particular plot |
|species_id |	2-letter code |
|sex |	sex of animal (“M”, “F”) |
|hindfoot_length |	length of the hindfoot in mm |
|weight |	weight of the animal in grams |

Below, we read in this file, saving the contents to the variabel `surveys_df`

In [8]:
#Read in the surveys.csv file
surveys_df = pd.read_csv('../data/surveys.csv')

In [9]:
#View the dataframe just by typing the variable name
surveys_df

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,M,32.0,NaN
1,2,7,16,1977,3,NL,M,33.0,NaN
2,3,7,16,1977,2,DM,F,37.0,NaN
3,4,7,16,1977,7,DM,M,36.0,NaN
4,5,7,16,1977,3,DM,M,35.0,NaN
...,...,...,...,...,...,...,...,...,...
35544,35545,12,31,2002,15,AH,NaN,NaN,NaN
35545,35546,12,31,2002,15,AH,NaN,NaN,NaN
35546,35547,12,31,2002,10,RM,F,15.0,14.0
35547,35548,12,31,2002,7,DO,M,36.0,51.0
35548,35549,12,31,2002,5,NaN,NaN,NaN,NaN

Pandas can read data stored in many different formats. CSV is one of the more common ones, but it can also handle txt, JSON, HTML, MS Excel, HDF5, Stata, SAS, and certain SQL formats. Each has it's own `read_()` function and is fully documented. 

* Run the following to get documentation for the `read_csv()` function:

In [10]:
#Display help on the read_csv() function
pd.read_csv?

Full documentation can be found simply via a web search on "[pandas read_csv](https://www.google.com/search?q=read_csv)".

>Note all the options available to read in a simple CSV file. Think back to some of the other files we've read into Python using its file object. How might the following options have helped? 
* `delimeter` or `sep` to read in tab delimeted files...
* `comment` to skip metadata rows...
* `skiprows` to skip metadata rows...

I've never used many of these modifiers, but it's important to know they exist and how they are implemented. I often use a bit of trial and error when first applying them.

#### Using the `dtype` modifier 
One important modifier that is easy to overlook is the `dtype` one. This modifier allows us to override the default data type that Pandas assignes to a column when it's imported into a dataframe. 

Note that in our `surveys_df` dataframe, we have two numeric columns that contain _nominal_ data: `record_id` and `plot_id`. It's possible these numeric labels may have leading zeros. (Think ZIP codes or HUC codes...). As such, we'd want to be sure to import these values as _strings_, not _integers_ as Pandas would do by default. 

We do this using the `dtype` modifier, passing a dictionary of column name:format for each variable we want to ensure is imported under our control:

In [11]:
#Read in the surveys.csv file
surveys_df = pd.read_csv(
    '../data/surveys.csv',
    dtype={'record_id':'str','plot_id':'str'})
surveys_df

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,M,32.0,NaN
1,2,7,16,1977,3,NL,M,33.0,NaN
2,3,7,16,1977,2,DM,F,37.0,NaN
3,4,7,16,1977,7,DM,M,36.0,NaN
4,5,7,16,1977,3,DM,M,35.0,NaN
...,...,...,...,...,...,...,...,...,...
35544,35545,12,31,2002,15,AH,NaN,NaN,NaN
35545,35546,12,31,2002,15,AH,NaN,NaN,NaN
35546,35547,12,31,2002,10,RM,F,15.0,14.0
35547,35548,12,31,2002,7,DO,M,36.0,51.0
35548,35549,12,31,2002,5,NaN,NaN,NaN,NaN

In [12]:
surveys_df.dtypes

record_id           object
month                int64
day                  int64
year                 int64
plot_id             object
species_id          object
sex                 object
hindfoot_length    float64
weight             float64
dtype: object

---
## 3. Viewing and inspecting data properties
We've already seen that typing in the dataframe's variable name will display a nicely formatted snapshot of the data, truncated if the dataframe is too big. 

### Viewing data with `head()`, `tail()`, and `sample()`
Some handy commands to show snippets of our dataframe are `head()`, `tail()`, and `sample()`. We can pass in a number as the argument to each of these to display a set number of records from our dataset. (`head()` and `tail()` default to 5.)

In [15]:
#Use the head() command to view the first 5 rows of the dataframe
surveys_df.head()

  record_id  month  day  year plot_id species_id sex  hindfoot_length  weight
0         1      7   16  1977       2         NL   M             32.0     NaN
1         2      7   16  1977       3         NL   M             33.0     NaN
2         3      7   16  1977       2         DM   F             37.0     NaN
3         4      7   16  1977       7         DM   M             36.0     NaN
4         5      7   16  1977       3         DM   M             35.0     NaN

► What do you think the sample function does? What about sample? How might you find out?

In [16]:
#Try out the tail command
surveys_df.tail()

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
35544,35545,12,31,2002,15,AH,NaN,NaN,NaN
35545,35546,12,31,2002,15,AH,NaN,NaN,NaN
35546,35547,12,31,2002,10,RM,F,15.0,14.0
35547,35548,12,31,2002,7,DO,M,36.0,51.0
35548,35549,12,31,2002,5,NaN,NaN,NaN,NaN

In [17]:
#Try out the sample command (you need to specifiy number of records)
surveys_df.sample(5)

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
31272,31273,8,26,2000,3,PB,F,25.0,32.0
10164,10165,4,20,1985,12,DM,F,35.0,48.0
22653,22654,8,27,1995,6,PP,F,23.0,19.0
29899,29900,10,10,1999,3,PB,F,25.0,22.0
29751,29752,6,12,1999,21,PB,M,26.0,33.0

### Inpsecting our dataframe's properties
Here, we'll create a second dataframe by reading in a dataset stored online. And then we'll apply the following commands to explore properties of this dataset:
* Revealing size attributes with `len()`, `shape`, and `size`
* Revealing columns included with `columns`
* Revealing the index with `index`
* Revealing the dataframe's data types with `dtypes` and `info()`

In [18]:
#Read in HUC12 land cover data from EPA's EnviroAtlas dataset
data_url = 'https://github.com/ENV859/EnviroAtlasData/blob/main/LandCover.csv?raw=true'
land_df = pd.read_csv(data_url)
land_df.head()

,HUC_12,N_INDEX,PFOR,PWETL,PDEV,PAGT,PAGP,PAGC,PFOR90,PWETL95
0,10100020101,100.0,81.643204,11.39250,0.0,0.0,0.0,0.0,92.245598,0.789988
1,10100020102,100.0,74.108200,12.30050,0.0,0.0,0.0,0.0,86.143501,0.265201
2,10100020103,100.0,78.816101,13.67510,0.0,0.0,0.0,0.0,92.095398,0.395778
3,10100020104,100.0,72.776901,7.57982,0.0,0.0,0.0,0.0,80.097702,0.259059
4,10100020105,100.0,74.281403,13.11650,0.0,0.0,0.0,0.0,81.182098,6.215810

In [19]:
#Pass our dataframe into the len() function
len(land_df)

82915

In [20]:
#Reveal the shape of the dataframe
land_df.shape

(82915, 10)

In [21]:
#Reveal the size of the dataframe
land_df.size

829150

► Can you deduce what properties the `len()`, `shape`, and `size` reveal? 
* How many rows does the dataframe have?
* How many columns?
* How many total values are in this table?

In [22]:
#Show a list of columns in the dataframe
land_df.columns.values

array(['HUC_12', 'N_INDEX', 'PFOR', 'PWETL', 'PDEV', 'PAGT', 'PAGP',
       'PAGC', 'PFOR90', 'PWETL95'], dtype=object)

In [23]:
#Show the dataframe's index
land_df.index

RangeIndex(start=0, stop=82915, step=1)

In [24]:
#Show the data types of each column 
land_df.dtypes

HUC_12       int64
N_INDEX    float64
PFOR       float64
PWETL      float64
PDEV       float64
PAGT       float64
PAGP       float64
PAGC       float64
PFOR90     float64
PWETL95    float64
dtype: object

In [25]:
#Show more information on the dataframe and on each column
land_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82915 entries, 0 to 82914
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   HUC_12   82915 non-null  int64
 1   N_INDEX  82915 non-null  float64
 2   PFOR     82915 non-null  float64
 3   PWETL    82915 non-null  float64
 4   PDEV     82915 non-null  float64
 5   PAGT     82915 non-null  float64
 6   PAGP     82915 non-null  float64
 7   PAGC     82915 non-null  float64
 8   PFOR90   82915 non-null  float64
 9   PWETL95  82915 non-null  float64
dtypes: float64(9), int64(1)
memory usage: 6.3 MB

---
## Check your understanding:
1. Using the commands describe above, answer the following questions regarding the **surveys_df** dataframe.
 1. How many records (rows) are in the dataset?
 * How many columns are in the dataset?
 * What are the column names?
 * What data type do the columns use?
 * How many total values are stored in this dataframe?
 * What are the indices used in this dataframe?
 * How many non-null values are found in the 'WEIGHT column

In [53]:
# How many records (rows) are in the dataset?
len(surveys_df)

35549

In [54]:
# How many columns are in the dataset?
surveys_df.shape[1]

9

In [55]:
# What are the column names?
surveys_df.columns.values

array(['record_id', 'month', 'day', 'year', 'plot_id', 'species_id',
       'sex', 'hindfoot_length', 'weight'], dtype=object)

In [56]:
# What data type do the columns use?
surveys_df.dtypes

record_id           object
month                int64
day                  int64
year                 int64
plot_id             object
species_id          object
sex                 object
hindfoot_length    float64
weight             float64
dtype: object

In [57]:
# How many total values are stored in this dataframe?
surveys_df.size

319941

In [58]:
# What are the indices used in this dataframe?
surveys_df.index

RangeIndex(start=0, stop=35549, step=1)

In [66]:
# How many non-null values are found in the 'WEIGHT' column
surveys_df.count()

record_id          35549
month              35549
day                35549
year               35549
plot_id            35549
species_id         34786
sex                33038
hindfoot_length    31438
weight             32283
dtype: int64

2. Re-read EnviroAtlas data into the **land_df** dataframe, but this time ensure the `HUC_12` column is read as a **string**, not as an **integer (int64)**.
 * Ensure that the data type of the column was read in as an "object" (i.e. a string) not "int64".

In [92]:
# Re-read EnviroAtlas data into the land_df dataframe, ensuring HUC_12 is a string
data_url = 'https://github.com/ENV859/EnviroAtlasData/blob/main/LandCover.csv?raw=true'
surveys_df = pd.read_csv(
    data_url,
    dtype={'HUC_12':'str'}) #<-- Modify this line

In [93]:
# Ensure that the data type of the column was read in as an "object" (i.e. a string) not "int64"
land_df.dtypes

HUC_12       int64
N_INDEX    float64
PFOR       float64
PWETL      float64
PDEV       float64
PAGT       float64
PAGP       float64
PAGC       float64
PFOR90     float64
PWETL95    float64
dtype: object

---
## 4. Selecting columns
We can select specific columns based on the column names. The basic syntax is dataframe[column name], where value can be a single column name, or a _list_ of column names. Let’s start by selecting two columns from our `surveys_df` dataframe, `species_id` and `hindfoot_length`:

In [101]:
#Subset just the two columns from the full dataframe
selection = surveys_df[['species_id','hindfoot_length']]
selection.head()

KeyError: "None of [Index(['species_id', 'hindfoot_length'], dtype='object')] are in the [columns]"

In [95]:
#Reveal what is returned - it's a dataframe
type(selection)

NameError: name 'selection' is not defined

In [97]:
#Reveal the shape of the new dataframe
selection.shape

NameError: name 'selection' is not defined

**Note**: if we select just one column, the obejct returns is a **series**, not a dataframe. 
>A **series** is simply one column of data. However, it has a different set of properties and methods.

In [98]:
one_col = surveys_df['hindfoot_length']
one_col.head()

KeyError: 'hindfoot_length'

In [ ]:
type(one_col)

>**NOTE**: You can also retreive a column using a different syntax:
```python
surveys_df.hindfoot_length
```
This syntax works only if the column name is a valid name for a Python variable (e.g. the column name should not contain whitespace). The syntax data["column"] works for all kinds of column names, so we recommend using this approach. Also, things may get ugly if you have a column name that conflicts with a property of your dataframe. For example, what if your column name was "`shape`"??

## 5. Descriptive Statistics
Pandas DataFrames and Series contain useful methods for getting summary statistics. Available methods include `mean()`, `median()`, `min()`, `max()`, and `std()` (the standard deviation).

We could, for example, check the mean hindfoot length in our input data. We check the mean for a single column (Series):

In [ ]:
#Compute the mean hindfoot length
surveys_df['hindfoot_length'].mean()

Try computing some other summary stats for either of our two numeric columns (`hindfoot_lenght` or `weight`) using the statements mentioned above.

In [ ]:
# Compute the count of weight records

In [ ]:
# Compute the standard deviation of weights

In [ ]:
# Compute the median weight

In [ ]:
# What were the first and last years of the survey
first_year =
last_year =
print(f"The study spanned fro {first_year} to {last_year}")

A few more complex ones are **quantiles** and **correlations**:

→ First, percentiles using the `quantiles()` function, where we pass in the percent to compute:

In [ ]:
#Compute a the 25th percentile of weight
surveys_df['weight'].quantile(0.25)

In [ ]:
#Change the above to compute the 50th percentile; does it equal the median?
surveys_df['weight'].median() == surveys_df['weight'].quantile(0.5)

→ Now to compute **variable pairwise coorelations**. Here we'll use the HUC12 land cover data and display pairwise correlation values among its variables (using the default Pearson method as a table

In [ ]:
#Create a pairwise correlation table among variables in the land_df dataframe
land_df.corr()

**TIP**: Using visualization tricks that we'll touch on later, we can style our table, making it much more informative...

In [ ]:
#Save the correlation table to a variable
coorelation_table = land_df.corr()
#Show the table, with styling
coorelation_table.style.background_gradient(cmap = 'YlGnBu')

Pandas also as a `describe()` function that quickly generates descriptive stats for all numeric variables in your dataset.

In [ ]:
#Generate summary stats on all numeric columns in the data
land_df.describe()

#### Categorical data
Descriptive statistics are useful for numeric data. For categorical data, we have other means for summarizing data:
* `nunique()`: lists the number of unique values in each column of a dataframe (or in a series)
* `unique()` : lists the unique values occuring in the supplied series
* `value_counts()` : lists the number of records associated with each unique value

_→In exploring these, consider the type of object they return and what you can do with that object..._

In [ ]:
#Reveal how many unique values in each field in the surveys_df dataframe
surveys_df.nunique()

In [ ]:
#Reveal how many unique values occur just in the 'species_id' series
surveys_df['species_id'].nunique()

In [ ]:
#List the unique values in the species_id field
surveys_df['species_id'].unique()

In [ ]:
#List how many records are associated with each unique month record
surveys_df['month'].value_counts()

---
### <font color='red'>*Challenge* - Counts and Lists from Data </font>


1. Create a list of unique **plot ID**’s found in the surveys data (much like we did above with the species id values). Call it `plot_names`. How many unique plots are there in the data? How many unique species are in the data?

1. What is the difference between `len(plot_names)` and `surveys_df['plot_id'].nunique()`?

In [ ]:
# Challenge 1

In [ ]:
# Challenge 2

## 6. Some Basic Plots
We'll revist visualizations, but as a teaser here are some quick and easy plots of our data. 

* First a histogram of all the `PFOR` (percent forest) values from the EnviroAtlas data.

In [ ]:
# Create a histogram of values in the PFOR column, in 10 bins
land_df['PFOR'].hist(bins=10);

* And now, we'll generate histograms for each month of the `weight` values in the `surveys_df` dataframe. We'll also increase the size of the figure to 20 x 20 units.

In [ ]:
#Plot distributions of weights by month
surveys_df.hist(column='weight',by='month',figsize=(20,20));

In [ ]:
#And finally box plots by month
surveys_df.boxplot(column='weight',by='species_id',figsize=(20,10));

## Summary
While this is a very quick introduction to the Pandas dataframe and series objects, I'm hopeful that you now have an appreciation for the utility of structuring data into a dataframe has -- and now have some command on how to generate and explore dataframes using the Pandas package. 

Actions you should now be capable of include:
* Creating a dataframe from a lists of lists (of equal sizes)
* Creating a dataframe from a set of dictionairies (of equal lengths)
* Reading data from a CSV file into a Pandas dataframe
* Viewing and inspecting properties of the data in your dataframe
* Selecting specific columns in your dataframe to a new object
* Computing descriptive statistics from your data
* Generating a few basic plots

### Next up: 
Next we will explore how we can effectively process data stored in dataframes.